.featureContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap:40px;
}
.featureMedal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.borderIcon{
    width:72px;
    height: 72px;
  border-radius: 50%;       
  background-color: #ffe5d0; 
  padding: 16px;
  margin-bottom: 40px;
}
.featureDescription{
    font-weight: 400;
font-size: 16px;
line-height: 1.5625;
text-align: center;
color: #aaa;
margin: 0;
}
.featureTitle{
    margin-bottom: 8px;
}
h4{
    margin-top: 0px;
}
@media screen and (max-width: 768px) {
    .featureContainer {
    flex-direction: column;
    gap:71px;
    margin-bottom: 90px;
}
.featureMedal{
        gap:8px;
    }
    .borderIcon{
    width:40px;
    height: 40px;
  border-radius: 50%;       
  background-color: #ffe5d0; 
  padding: 8px;
}
}

@media screen and (max-width: 480px) {
    .featureContainer{
        gap:48px;
        margin-bottom: 60px;
    }
    
}
