.header{
    background-color: #5a9bfe;
    height: 70px;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}
.logo{
    font-weight: 500;
    font-size: 20px;
    color: #fff;
}
.nav{
    display: flex;
    gap: 40px;
}
.container {
  max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    box-sizing: border-box;
    padding-left: 144px;
    padding-right: 24px;
}
.icons button {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0 8px;
 
}
.icons{
    display: flex;
    gap:40px;
}
.burgerIcon{
        opacity: 0;
    }
@media screen and (max-width:768px) {
    .header{
        display:flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 100%;
    }
    .logo{
        flex: 1;
  text-align: center;
  font-weight: bold;
    }
    .container{
        width: 320px;
        margin: 0;
        padding: 0 12px;
    }
    .nav{
        display: none;
    }
    .icons{
       gap:10px;
    }
    .logo {
    font-size: 18px;
  }
    .burgerIcon {
        opacity: 1;
    color: #fff;
    font-size: 24px; /* Збільшено розмір іконки бургер меню */
  }
    .mobileNav{
    background: #5a9bfe;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 16px;
    }
}