.summaryBox {
  background: #fff;
  border-radius: 12px;
  border: 1px solid #e0e0e0;
  padding: 20px 24px;
  /* width: 589px; */
  max-width: 100%;
  box-sizing: border-box;
  width: 100%;
}
.title {
  margin-top: 26px;
  font-weight: 500;
  font-size: 24px;
  color: #000;
  margin-bottom: 23px;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0 0 18px 0;
}
.item {
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #ddd;
  gap: 16px;
}
.item:last-child {
  border-bottom: none;
}
.imgStub {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  background: #e0e0e0;
  flex-shrink: 0;
}
.info {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  color: #000;
}
.details {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  color: #aaa;
  display: flex;
  gap: 32px;
}
.price {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  color: #000;
  margin-left: 12px;
  min-width: 48px;
  text-align: right;
}
.promocode {
  margin-top: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.125;
  color: #000;
}

.promoInputWrap {
  position: relative;
  width: 100%;
  
  /* display: flex;
  align-items: center;

  border-radius: 12px;
  height: 60px;
  padding: 0 8px 0 20px;
  margin-bottom: 76px;
  gap: 12px; */
}

.promoInput {
  font-family: var(--second-family);
  width: 100%;
  display: block;
  border: 1px solid rgb(15, 13, 35, 0.2);
  border-radius: 12px;
  outline: none;
  font-size: 16px;
  line-height: 112;
  color: #000;
  padding: 21px 24px;
  height: 60px;
}

.promoInput::placeholder {
  color: #aaa;
}

.applyBtn {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  font-family: var(--second-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.12;
  padding: 13px 22px;
  border-radius: 10px;
  background: #5a9bfe;
  border: none;
  color: #fff;
  cursor: pointer;
}

/* .promoInput input {
  flex: 1 1 auto;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #222;
  height: 100%;
  opacity: 0.2;
}

.promoInput input::placeholder {
  color: #aaa;
  font-size: 16px;
}

.promoInput button {
  height: 44px;
  padding: 0 28px;
  border: none;
  border-radius: 10px;
  background: #5a9bfe;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  margin-right: 4px;
  margin-left: auto;
}

.promoInput button:hover {
  background: #3887fa;
} */

.priceDetail {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 0.9;
  color: #000;
  padding-top: 16px;
}

.total .priceDetail:last-child {
  border-bottom: none;
  margin-top: 12px;
  padding-bottom: 0;
}
.price {
  font-weight: 400;
  font-size: 20px;
  line-height: 0.9;
  color: #000;
  margin-bottom: 0;
}
.totalPrice {
  font-weight: bold;
}
.total {
  display: flex;
  flex-direction: column;
  padding-top: 16px;
}
.checkoutButton {
  margin-top: 43px;
  width: 100%;
  border-radius: 16px;
  height: 80px;
  background: #5a9bfe;
  margin-bottom: 120px;
}
.checkoutSpan {
  font-weight: 500;
  font-size: 20px;
  line-height: 0.9;
  color: #fff;
}
.deleteIcon{
  display: none;
  width: 24px;
  height: 24px;
}
.item:hover .deleteIcon {
  display: inline; /* показується тільки при наведенні */
  color: red;
  cursor: pointer;
}
.deleteBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.deleteBtn:hover .deleteIcon {
  color: red; /* підсвітка при наведенні */
}
@media screen and (max-width: 800px) {
  .promoInput input::placeholder {
    color: #aaa;
    font-size: 12px;
  }
  /* .promoInput button {
    height: 44px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
    background: #5a9bfe;
    color: #fff;
    font-size: 12px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 4px;
    margin-left: auto;
  } */
  .item:last-child {
    border-bottom: none;
    gap: 12px;
  }
  .name {
    font-size: 12px;
  }
  .details {
    font-size: 10px;
  }
  .promoInput {
    gap: 0;
    padding: 4px;
  }
  .summaryBox {
    width: 100%;
  }
  .applyBtn {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translateY(-50%);
  font-family: var(--second-family);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.12;
  padding: 13px 22px;
  border-radius: 10px;
  background: #5a9bfe;
  border: none;
  color: #fff;
  cursor: pointer;
}
}
