

.main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 60px 60px;
}

.container {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;
  padding-left: 144px;
  padding-right: 120px;
  padding-top: 90px;
}

@media screen and (max-width: 480px) {
  .main{
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    padding: 10px 15px 15px;
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  .container {
    width: 320px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
  .main{
    padding: 20px 30px 30px;
  }
}
